@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --max-width: 1300px;
    --extra-width: calc(100% - var(--max-width));
    --full-bleed: calc(calc(var(--extra-width) / 2) + 2rem);
    --radius: 0.5rem;

    --background: theme(colors.white);
    --foreground: theme(colors.app-gray.50);
    --text: theme(colors.black);
  }

  .dark {
    --background: theme(colors.app-black.DEFAULT);
    --foreground: theme(colors.app-black.600);
    --text: theme(colors.app-white.DEFAULT);
  }

  html {
    @apply scroll-smooth antialiased;
  }

  body {
    @apply text-app-text font-normal text-a-14 bg-app-foreground md:text-a-16 lmd:text-a-18 leading-[1.5];
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  textarea,
  input {
    @apply outline-none;
  }

  .app-padding {
    @apply px-6 md:px-10 xl:px-[--full-bleed];
  }

  .btn {
    @apply flex gap-2 items-center text-a-16 font-bold justify-center py-3 px-4 rounded;
  }

  .section-padding {
    @apply app-padding py-10;
  }

  .app-input {
    @apply flex flex-col gap-1 [&_input]:px-3 [&_input]:py-1 [&_input]:bg-primary/5 dark:[&_input]:bg-transparent [&_textarea]:bg-primary/5 dark:[&_textarea]:!bg-transparent  h-fit  w-full [&>input]:border [&>textarea]:border [&>textarea]:rounded [&>textarea]:px-3  [&>textarea]:py-2 [&>textarea]:min-h-28 [&>input]:rounded [&>div]:flex [&_input]:flex-1 [&>div]:justify-between [&>div:last-of-type]:border [&>div]:rounded [&>small]:text-a-10 [&>div]:gap-3 mb-3 [&>label]:text-a-12 md:text-a-14;
  }
}
